body{
    margin: 0;
    padding: 0;
    /*para cambiar el tamaño de mi letra*/
    font-size: 13px;
    /*es para si no exixten esa  ponga una por default, eatan por oden de prioridad*/
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    height: 60px;
}

header nav{
    display: flex;
    /*para que se vayan hasta el fondo*/
    justify-content: flex-end;
}

header nav .nav-right-section{
    width: 250px;
    height: auto;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

a{
    /*para qutar las rallitas del hipervinculo*/
    text-decoration: none;
    /*para poner la manita*/
    cursor: pointer;
}

nav .nav-right-section a{
    margin-right: 25px;
    color: black;
}

nav .nav-right-section .menu-icon{
    background-image: url("https://img.icons8.com/ios-glyphs/90/000000/circled-menu.png");
    /*espara ajusta el alto y el anxho del icono*/
    width: 27px;
    height: 27px;
    background-size: contain;
    background-position: center;
    /*es para que no aparezaca muchas veces el icono que acabo de insertar*/
    background-repeat: none;

}

nav .nav-right-section img{
    /*para pner los bordes circulares*/
    border-radius: 80px;
    /*para separa el icono de la imagen*/
    margin-left: 15px;
    width: 35px;
    height: 35px;
}

main{
    margin-top: 30px;
    /*todo se hacia el centro*/
    text-align: center;
}

main .main-logo{
    width: 350px;
    margin: 0 auto;
    margin-bottom: 35px;
}

main .main-logo img{
    width: 310px;
    height: 110px;
}

/*barra de busqueda*/
main .main-input{
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
}

main .main-input-container{
    /*define el ancho que tiene la barrita*/
    width: 500px;
    /*pone los bordes circulares*/
    border-radius: 100px;
    border: 1px solid #dfe1e5;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .main-input input{
    width: 350px;
    height: 40px;
    border: none;
    outline: none;
}

main .main-input-container:hover{
    /*arriba, a lado abajo, a lado*/
    box-shadow: 0 1px 6px 0 #20212447;
}

/*seach icon*/
main .main-input .search-icon{
    background-image: url('https://img.icons8.com/android/24/000000/search.png');
    width: 18px;
    height: 18px;
    padding-left: 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

/*microfono*/
main .main-input .micro-icon{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/726px-Google_mic.svg.png");
    width: 18px;
    height: 18px;
    padding-left: 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

/*Camara*/
main .main-input .cam-icon{
    background-image: url("https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQU9EB56qp8B5qgt89OtkGpN86KFafBM7cBixk1nXOs7ukEVbJE");
    width: 20px;
    height: 20px;
    padding-right: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}

/*botones*/
main .main-buttons{
    width: 530px;
    margin: 0 auto;

}

main .main-buttons div{
    display: inline-block;
}

main .main-buttons button{
    height: 36px;
    background-color: #f8f9fa;
    border: 0;
    font-size: 14px;
    color: #5f6368;
    border-radius: 6px;
    padding: 0 15px;
    margin-right: 12px;
}

/*para resaltar el texto, el hover es para dar estilos para cuando el cursor pase por encima del elemento*/
main .main-buttons button:hover{
    border: 1px solid #c6c6c6;
    /*Es el borde de la caja en orden de la manecillas del reloj el 0 esta a las 12*/
    box-shadow: 0 0.5px 1px 0 #000001;
    cursor: pointer;
} 

footer{
    width: 100%;
    height: 50px;
    background-color: #f2f2f2;
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    font-size: 15px;
    border-top: 1px solid #e4e4e4;

}

footer ul{
    margin: 10px;
    list-style: none;
    display: flex;
    padding-left: 0;
}

footer .footer-left{
    justify-self: left;
}

footer .footer-right{
    justify-self: right;
}

footer ul li a{
    margin: 10px;
    color: #5f6368;
}